@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;

}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loader {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid white;
    border-right-color: orange;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}


